{% extends 'Teacher/Header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Examination</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" align="center">
          <tr>
            <td>Name</td>
            <td><input type="text" name="txt_name" id="txt_name"></td>
          </tr>
          <tr>
            <td>Question Number</td>
            <td><input type="text" name="txt_qno" id="txt_qno"></td>
          </tr>

          <tr>
            <td>From Time</td>
            <td><input type="time" name="txt_ftime" id=""></td>
          </tr>

          <tr>
            <td>To Time</td>
            <td><input type="time" name="txt_ttime" id=""></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="submit" value="Cancel"></td>
          </tr>   
        </table>
    </form>
    <table border="1">
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mark</th>   
          <th>Qustion No</th>
          <th>Start Time</th>
          <th>Time</th>
          <th>Action</th>

      </tr>
          {% for i in result %}
          <tr>
           <td>{{forloop.counter}}</td>
           <td>{{i.examination_name}}</td> 
           <td>{{i.examination_mark}}</td>  
           <td>{{i.examination_qno}}</td>    
           <td>{{i.start_time}}</td> 
           <td>{{i.examination_time}}</td> 
           <td><a href="{% url 'Teacher:delexm' i.id %}">Delete</a><br>
           <a href="{% url 'Teacher:addquestions' i.id %}">Add Questions</a>
           <a href="{% url 'Teacher:startexam' i.id %}">Start Exam</a></td>
    
           
      </tr>
      {% endfor %}
  </table>
    

          
    
</body>
</html>
{% endblock content %}