{% extends 'Admin/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h3>Teachers</h3>
        <table border="1">
            
            <tr>
                <td>sl</td>
                <td>Name</td>
                <td>Email</td>
                <td>Address</td>
                <td>Photo</td>
                <td>Contact</td>
                <td>Action</td>
            </tr>
            {% for i in teacher %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.teacher_name}}</td>
                <td>{{i.teacher_email}}</td>
                <td>{{i.teacher_address}}</td>
                <td><img src="{{ i.teacher_photo.url }}" alt="teacher photo"
                    style="width:100px;height: auto;"></td>
                <td>{{i.teacher_contact}}</td>
                <td>
                    <a href="{% url 'Admin:teacherreject' i.id %}">Delete</a><br><br></td> 
                 
            </tr>
            {% endfor %}

        </table>



        
    </form>

   
</body>
</html>
{% endblock content %}